<div class="container">
    <div class="row">
		<div class="span9">
		   <div class="thumbnail_home">
				<img class="pull-left picture_about img-rounded" src="/images/about.png" />
				<div class="caption">
				    <h3>About lkabaDesign</h3>
				    <p>Hi!</p>
				    <p>
				    	Welcome to LkabaDesign a website that can guide you through the process of building the right website for the success of your business.
				    <p>
				    <h4>	My name is Lamine Kaba</h4>
				    <p>
				    	What motivated me in to the Web-Development is my creativity and critical thinking skills. I'm very enthusiastic about making things done right. "Quality" is the first thing that comes in to my mind when I'm working on a project.
				    </p>
				    <p>
				    	Back in 2012 after I earned my associate degree in Manufacturing Engeneering from Hennepin Technical College, I realized that I have a lot of passion for Technology and I felt in love with Web-Development. Build something that can benefit others is very passionate for me, so I decided to pursuit my education in Information Technology.
				    </p>
				    <p>
				    	I'm currently pursuing a Bachelor's degree in Information Technology in which I will be graduating in December 2014 as web application developer. I truly believe that providing quality service to people is the better and the only way to success. 
				    </p>
				    <!--<p><a href="#" class="btn btn-success">Learn more</a></p>-->
				</div>
		   </div> 
		</div>
    </div>
</div><br/>

<div class="container">
    <div class="row">
		<div class="span12">
		    <h1>A big thanks to</h1> <hr/>
		</div>
    </div>
    
    <div class="row">
		<div class="span6">
		   <div class="thumbnail_home">
				<img class="pull-left picture_about img-rounded" src="/images/tony.png" class="img-responsive" />
				<div class="caption">
				    <h3>Tony Nguyen</h3>
				    <p>Big thanks to my friend Tony who introduced me to Web-Development.</p>
				    <p>
				    	Tony is a web developer expert in Ruby on Rails programming language. Tony is very talented in programming field and very passionate about web application development. Tony loves to help and be at the service of others. All Tony cares about is to do what is right.
				    </p>
				    <p>
				    	Graduated from Anoka Community College in Information Technology, specialized in web development, Tony has many other programming and markup language certificates.  
				    </p>
				    <p>To learn more about Tony please visite <a href="https://github.com/tcv-nguyen" target="_blank" class="btn btn-success">GitHub.com</a>
				    </p>
				    <!--<p><a href="#" class="btn btn-success">Learn more</a></p>-->
				</div>
		   </div> 
		</div>
		
		<div class="span6">
		   <div class="thumbnail_home">
				<img class="pull-left picture_about " src="/images/development_thanks.png" class="img-responsive" />
				<div class="caption">
				    <h3>Computer geeks</h3>
				    <p>Big thanks to all those geeks out there for taking their time to post  the tutorial videos, which help millions of people to learn something. Their efforts are greatly appreciated by any body that learns from their tutorial. </p>
				    <p>
				    	They are many of them out there I can't mention all of them, if you are one of those people who posted any type of tutorial video so someone else can benefit from it and I don't mention your name in here, know that you are not being forgotten and you are the best of the best,
				    </p>
				    <p></p>
				    <!--<p><a href="#" class="btn btn-success">Learn more</a></p>-->
				</div>
		   </div> 
		</div>
    </div>
</div><br/>

