<div class="container">
	<h1>Contact me</h1><hr>
</div>

<div class="container ">
    <div class="row">     
		<div class="contact span4">
			<h4 >Address</h4>
			16251 Lithium CT NW</br>
			Ramsey, MN 55303
		</div>

		<div class="contact span4 ">
			<h4>Telephone</h4>
			612 876 8040</br>
			Lkaba2003@gmail.com
			</br>
		</div>
    </div><!--/row-->
</div> <!-- /container -->



	

<div class="container">
	<%= render :partial => "/contact_pages/form" %>
</div>



