<div class="container">
    <div class="row">
		<div class="span3">
		   <div class="thumbnail_info">
				<img src="/images/info/1.png" />
				<div class="caption">
				    <h3>Coming Soon !!</h3>
				    <h4>Minnesota African Cup</h4>
				    <p>
				    	Minnesota African cup is a soccer tournament that happens every year in the twins city area since 2008.<br>
				    	Founded by Kemo Camara and his colleagues for the purpose of recreation among African resortissants of Minnesota in summer time.
				    </p>
				    
				    <p><a href="http://www.tcdailyplanet.net/news/2009/10/24/gambian-team-wins-mn-africa-cup-2009"  target="_blank" class="btn btn-success">Learn more</a></p>
				</div>
		   </div> 
		</div>
		
		<div class="span3">
		   <div class="thumbnail_info">
				<img src="/images/mosque.png" />
				<div class="caption">
				    <h3>Eid-Al-Fitr</h3>
				    <h4>Celebration</h4>
				    <p>
				    	The west African community in the Midwest of the twins city will be celebration Eid-Al-Fitr under one roof on Monday July 28th, 2014.<br>
				    	Masjid Al-Ansar board of directors is urging every body to come together and celebrate the Eid with food, drink, prizes for kids and many other game.
				    </p>
				    <!--<p><a href="#" class="btn btn-success">Learn more</a></p>-->
				</div>
		   </div> 
		</div>
		
		<div class="span3">
		   <div class="thumbnail_info">
				<img src="/images/info/2.png" />
				<div class="caption">
				    <h3>Guinean Association of Minnesota</h3>
				    <h4>General information</h4>
				    <p>
				    	There are couple of changes in the Guinean Association policy that the general assembly should be award of.
				    </p>
				    <p>
						<a data-toggle="modal" href="#myModal" type="button" class="btn btn-success">Learn more</a>
				    </p>

				    <div class="modal hide fade" id="myModal" tobinex="-1" role="dialog" area-hidden="true">
					<div class="modal-content">
					    <div class="modal-header btn-warning">
						<h2>Warning</h2>
					    </div>
					    <div class="modal-body">
						<h4>Dear Community Members</h4>
						<p>
							First of all, we apologize if this message will bother you.<br> If you do not wish to receive message from the association or if you want to get information about your community but you are not getting the messages, please let us <%= link_to "know", "http://guiam.org", target: '_blank' %>, so we can either remove your name from or add your name to our database.<br>
							Second, there is a policy change that you should be aware of.<br>
							1) Monthly meeting is recommended to all members but is  not any longer mandatory.<br>
							2) Monthly contribution or membership fee is recommended and mandatory to all members.<br>
							3) Any member that is not active (members who do not payee their monthly due) will not receive any benefit from the association including informing the community if you have any problem.<br>
							Please do not take this personally, but we do need everybody to get involve with the association one-way or other. If we can't see your physical personality, but your financial support will keep the association a life.<br>
							Thank you in advance for your understanding.<br>
						</p>
					    </div>
					    <div class="modal-footer btn-warning">
						<button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
					    </div>
					</div>
				    </div>
				   <!-- <p><a href="#" class="btn btn-success">Learn more</a></p> -->
				</div>
		   </div> 
		</div>
    </div>
</div><br/>
<!--
<div class="container">
    <div class="row">
		<div class="span6">
		   <div class="thumbnail">
				<img src="images/Brand.png" />
				<div class="caption">
				    <h3>1st Heading</h3>
				    <p>Add some text here...</p>
				    <p><a href="#" class="btn btn-success">Learn more</a></p>
				</div>
		   </div> 
		</div>
		
		<div class="span6">
		   <div class="thumbnail">
				<img src="images/Brand.png" />
				<div class="caption">
				    <h3>1st Heading</h3>
				    <p>Add some text here...</p>
				    <p><a href="#" class="btn btn-success">Learn more</a></p>
				</div>
		   </div> 
		</div>
    </div>
</div><br/>

<div class="container">
    <div class="row">
		<div class="span3">
		   <div class="thumbnail">
				<img src="images/Brand.png" />
				<div class="caption">
				    <h3>1st Heading</h3>
				    <p>Add some text here...</p>
				    <p><a href="#" class="btn btn-success">Learn more</a></p>
				</div>
		   </div> 
		</div>
		
		<div class="span3">
		   <div class="thumbnail">
				<img src="images/Brand.png" />
				<div class="caption">
				    <h3>1st Heading</h3>
				    <p>Add some text here...</p>
				    <p><a href="#" class="btn btn-success">Learn more</a></p>
				</div>
		   </div> 
		</div>

		<div class="span3">
		   <div class="thumbnail">
				<img src="images/Brand.png" />
				<div class="caption">
				    <h3>1st Heading</h3>
				    <p>Add some text here...</p>
				    <p><a href="#" class="btn btn-success">Learn more</a></p>
				</div>
		   </div> 
		</div>
		
		<div class="span3">
		   <div class="thumbnail">
				<img src="images/Brand.png" />
				<div class="caption">
				    <h3>1st Heading</h3>
				    <p>Add some text here...</p>
				    <p><a href="#" class="btn btn-success">Learn more</a></p>
				</div>
		   </div> 
		</div>
    </div>
</div> -->