<div class="container">
    <div class="row">
		<div class="span8">
		    <div class="work_sample ">
				<h1>Here are some of my work samples</h1>
				<h3>Please click a link</h3>
				<h4>
					<ul>
						<p><%= link_to "SmilingFace", "http://smilingface.herokuapp.com", :target => "_blank" %></p>
						<p><%= link_to "Masjid Al-Ansar", "http://masjidalansarmn.org", :target => "_blank" %></p>
						<p><%= link_to "Getbills", "http://getbills.herokuapp.com", :target => "_blank" %></p>
					</ul>
				</h4>
				
				<!--<p> <a href="#" class="btn btn-success">Learn more</a> </P>-->
		    </div>
		</div>
    </div>
</div><br/><br/>



