<div class="container">
    <div class="row">
		<div class="span8">
		    <div class="jumbotron ">
				<h1>Here are some of my work samples</h1>
				<h3>Please click a link</h3>
				<h4>
					<ul>
						<li><%= link_to "SmilingFace", "http://smilingface.herokuapp.com", :target => "_blank" %></li>
						<li><%= link_to "Al-Ansar", "http://al-ansar.herokuapp.com", :target => "_blank" %></li>
						<li><%= link_to "Getbills", "http://getbills.herokuapp.com", :target => "_blank" %></li>
					</ul>
				</h4>
				
				<!--<p> <a href="#" class="btn btn-success">Learn more</a> </P>-->
		    </div>
		</div>
    </div>
</div>



