body {
  background-color: #F9F0E5;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 17px;
  line-height: 18px;


}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;

}

a {
  color: #000;
  &:visited {
    color: #96AD1;
  }
  &:hover {
    color: #BFAD58;
    background-color: none;
    
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

notice {
  color: green;
}

.field_with_errors {
  padding: 1px;
  background-color: none;
  display: block;
}

error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold ;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: red;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

ul {
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 17px;
    color: red;
    line-height: 18px;
}

